.bottom {
  align-items: initial;
  margin-top: 5rem;
  @include tablet {
    flex-direction: column;
  }

  .left-text {
    width: 20vw;
    min-width: 20rem;
    flex-shrink: 0;
    margin-right: 2rem;
    h2 {
      font-size: 3.2rem;
      padding-bottom: 2rem;
      color: $clr-secondary;
    }
    p {
      line-height: 1.7;
    }
    @include tablet {
      margin-right: 0;
      min-width: unset;
      width: 90%;
      margin: 3rem auto;
    }
  }
  .right-cards {
    margin-bottom: 10rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 1.8rem;
    .card {
      align-items: initial;
      background-color: $clr-white;
      border-radius: 1rem;
      padding: 2rem 1rem;
      box-shadow: 2px 3px 6px rgba($clr-black, 0.2);
    }

    .icon {
      align-items: center;
      justify-content: center;
      height: 5rem;
      flex-shrink: 0;
      width: 5rem;
      border-radius: 50%;
      margin-right: 1.4rem;
      background-color: $clr-primary;
      svg path {
        fill: $clr-white;
      }
    }
    .desc {
      h2 {
        font-size: 3rem;
        padding: 1rem 0;
      }
      li {
        list-style: disc;
        line-height: 2.5;
      }
    }
  }
}
