.right {
  flex-shrink: 0;
  width: 100%;
  flex: 35%;
  @include tablet {
    flex: initial;
  }
  .sidebar {
    border-radius: 1rem;
    overflow: hidden;
    height: 60vh;
    padding: 0;
    margin: 0 0 5rem auto;
    background-color: $clr-white;
    box-shadow: -2px 3px 8px rgba($clr-black, 0.18);
    &:nth-of-type(2) {
      margin-bottom: 40rem;
    }
    .heading {
      padding: 1rem 0.4rem;
      background-color: $clr-secondary;
      color: $clr-white;
      font-size: 1.7rem;
    }
    .scroll {
      background-color: $clr-white;
      height: 92%;
      overflow-y: scroll;
      position: relative;
      &::-webkit-scrollbar {
        background: transparent;
        width: 0.7rem;
        position: absolute;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: rgba($clr-primary, 0.5);
        position: absolute;
        right: -5rem;
      }
    }
    .item {
      h3 {
        color: $clr-secondary;
        padding: 1.5rem 0 0;
      }
      border-bottom: 1px solid rgba($clr-black, 0.3);
      .btn {
        height: 3rem;
        margin: 1.2rem 1.2rem 0 0;
        &.secondary {
          max-width: 50%;
          margin-bottom: 1.5rem;
        }
      }
    }
    @include tablet {
      margin-left: auto;
      margin-right: auto;
      max-width: 60rem;
    }
  }
}
