:root {
  width: 100vw;
  height: auto;
  font-size: 10px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  color: #333;
  scroll-behavior: smooth;
  background-image: url("/img/Path3.svg");
  background-size: cover;
  background-position: right;
  background-position-y: bottom;
}

body::-webkit-scrollbar {
  background: transparent;
  height: 0.8rem;
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  width: 0.8rem;
  background-color: rgba(255, 131, 0, 0.5);
}

body::-webkit-scrollbar-track {
  background: transparent;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333;
}

.btn {
  height: 4rem;
  width: 13rem;
  border-radius: 8rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #ff8300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.btn.secondary {
  background-color: #00a6ce;
  color: #fff;
}

.btn.outline.secondary {
  border: 1px solid #00a6ce;
  background-color: transparent;
  color: #333;
}

.btn.outline {
  border: 1px solid #ff8300;
  background-color: transparent;
  color: #333;
}

.btn.outline:hover {
  color: #fff;
  background-color: #ff8300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container {
  width: 93%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: rgba(243, 246, 255, 0.5);
}

header {
  width: 100%;
  height: 7rem;
}

header nav {
  margin-left: auto;
  height: 100%;
}

header nav .links li {
  height: 100%;
}

header nav .links li a {
  margin: 0 1.5em;
  display: inline-block;
  position: relative;
  height: 100%;
  line-height: 7rem;
}

@media screen and (max-width: 930px) {
  header nav .links li a {
    display: block;
    font-weight: bold;
    margin: 0;
    width: 100vw;
    text-align: center;
    padding: 1rem 0;
  }
  header nav .links li a.active {
    background-color: #fff;
    color: #ff8300;
  }
}

header nav .links li a::after {
  content: "";
  position: absolute;
  height: 0.6rem;
  width: 0%;
  border-radius: 2rem;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ff8300;
}

@media screen and (max-width: 930px) {
  header nav .links li a::after {
    display: none;
  }
}

header nav .links li a:hover::after, header nav .links li a.active::after {
  width: 100%;
}

@media screen and (max-width: 930px) {
  header nav ul.links {
    display: none;
    width: 100%;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    top: 6.8rem;
    left: 100%;
    z-index: 10;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  header nav ul.links.shown {
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 0;
  }
}

header .logo {
  cursor: pointer;
}

header .logo h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0.5em;
}

header .logo svg path {
  fill: #ff8300;
}

@media screen and (max-width: 930px) {
  header .btn {
    width: 90vw;
    display: block;
    margin: 1.5rem auto;
  }
}

header .btn.plain {
  background: none;
  outline: none;
  font-weight: bold;
  color: #ff8300;
}

header .menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  margin-left: auto;
}

@media screen and (max-width: 930px) {
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .menu .close,
header .menu .burger {
  height: 4rem;
  width: 4rem;
}

header .menu .burger rect,
header .menu .close rect {
  fill: #333;
}

header .menu .burger circle,
header .menu .close circle {
  stroke: #333;
}

.hero {
  padding-top: 2rem;
  height: 65vh;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("/img/Path.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero .text {
  max-width: 50rem;
  margin-right: 3rem;
  text-align: left;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 930px) {
  .hero .text {
    margin-right: 0;
    width: 100%;
    max-width: 70rem;
  }
}

.hero .text h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 480px) {
  .hero .text h1 {
    font-size: 3.5rem;
  }
}

.hero .text p {
  font-size: 1.8rem;
}

.hero .text h2 {
  margin: 2rem 0 2rem;
  font-size: 3.3rem;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .hero .text h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .hero .text .btn-group {
    display: block;
  }
}

.hero .text .btn-group .btn {
  height: 4.5rem;
  width: 20rem;
  font-weight: bold;
}

.hero .text .btn-group .btn.outline {
  margin-left: 2rem;
}

@media screen and (max-width: 480px) {
  .hero .text .btn-group .btn.outline {
    margin: 0;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero .text .btn-group .btn {
    display: block;
    width: 100%;
  }
}

.hero .illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 930px) {
  .hero .illustration {
    margin-right: 0;
    width: 100%;
    margin-bottom: 3rem;
  }
}

.hero .illustration .hero-img {
  width: 50vw;
  min-width: 300px;
}

@media screen and (max-width: 930px) {
  .hero .illustration .hero-img {
    margin-right: 0;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: "FlipH";
  }
}

@media screen and (max-width: 930px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.lower {
  position: relative;
  margin-top: 4rem;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 930px) {
  .lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 6rem;
  }
}

.lower input {
  width: 100%;
  height: 5rem;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  outline: none;
  border: 1px solid rgba(51, 51, 51, 0.15);
  border-radius: 6rem;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.lower .left {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 60vw;
}

@media screen and (max-width: 930px) {
  .lower .left {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.lower .left .cards {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 0.4px solid rgba(51, 51, 51, 0.1);
  border-radius: 1rem;
  margin-right: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-x: scroll;
  margin-top: 2rem;
}

@media screen and (max-width: 930px) {
  .lower .left .cards {
    width: 100%;
    max-width: unset;
  }
}

.lower .left .cards::-webkit-scrollbar {
  background: transparent;
  height: 0.8rem;
}

.lower .left .cards::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  width: 1rem;
  background-color: rgba(255, 131, 0, 0.5);
}

.lower .left .cards::-webkit-scrollbar-track {
  background: none;
}

.lower .left .cards .card {
  background: #fff;
  border-radius: 1rem;
  border: 0.4px solid rgba(51, 51, 51, 0.1);
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 1rem;
  padding: 1rem;
  width: 25rem;
  background-image: url("/img/Path.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-position-y: bottom;
  -webkit-box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.2);
          box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.2);
}

@media screen and (max-width: 930px) {
  .lower .left .cards .card {
    min-width: 22rem;
  }
}

.lower .left .cards .card img {
  width: 100%;
  height: 18rem;
}

@media screen and (max-width: 930px) {
  .lower .left .cards .card img {
    height: 14rem;
  }
}

.lower .left .cards .card .desc h2 {
  font-weight: bold;
  color: #ff8300;
  font-size: 2rem;
  margin: 0.4em 0;
}

.lower .left .cards .card .desc ul li {
  list-style: disc;
  line-height: 1.8;
}

@media screen and (max-width: 930px) {
  .lower .left .cards .card .desc ul li {
    list-style-position: inside;
    line-height: 1.8;
  }
}

.lower .left .cards .card .btn {
  color: #00a6ce;
  border: 1px solid #00a6ce;
  margin: 1rem 0;
}

.lower .left .cards .card .btn:hover {
  background-color: #00a6ce;
  color: #fff;
}

.right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
}

@media screen and (max-width: 930px) {
  .right {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
}

.right .sidebar {
  border-radius: 1rem;
  overflow: hidden;
  height: 60vh;
  padding: 0;
  margin: 0 0 5rem auto;
  background-color: #fff;
  -webkit-box-shadow: -2px 3px 8px rgba(51, 51, 51, 0.18);
          box-shadow: -2px 3px 8px rgba(51, 51, 51, 0.18);
}

.right .sidebar:nth-of-type(2) {
  margin-bottom: 40rem;
}

.right .sidebar .heading {
  padding: 1rem 0.4rem;
  background-color: #00a6ce;
  color: #fff;
  font-size: 1.7rem;
}

.right .sidebar .scroll {
  background-color: #fff;
  height: 92%;
  overflow-y: scroll;
  position: relative;
}

.right .sidebar .scroll::-webkit-scrollbar {
  background: transparent;
  width: 0.7rem;
  position: absolute;
}

.right .sidebar .scroll::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: rgba(255, 131, 0, 0.5);
  position: absolute;
  right: -5rem;
}

.right .sidebar .item {
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.right .sidebar .item h3 {
  color: #00a6ce;
  padding: 1.5rem 0 0;
}

.right .sidebar .item .btn {
  height: 3rem;
  margin: 1.2rem 1.2rem 0 0;
}

.right .sidebar .item .btn.secondary {
  max-width: 50%;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 930px) {
  .right .sidebar {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
  }
}

.bottom {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-top: 5rem;
}

@media screen and (max-width: 930px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bottom .left-text {
  width: 20vw;
  min-width: 20rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
}

.bottom .left-text h2 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
  color: #00a6ce;
}

.bottom .left-text p {
  line-height: 2.2;
}

@media screen and (max-width: 930px) {
  .bottom .left-text {
    margin-right: 0;
    min-width: unset;
    width: 90%;
    margin: 3rem auto;
  }
}

.bottom .right-cards {
  margin-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(24rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 1.8rem;
}

.bottom .right-cards .card {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 1rem;
  -webkit-box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.2);
          box-shadow: 2px 3px 6px rgba(51, 51, 51, 0.2);
}

.bottom .right-cards .card:nth-of-type(3n) .icon {
  background-color: #97085c;
}

.bottom .right-cards .card:nth-of-type(n + 1) .icon {
  background-color: #9514fe;
}

.bottom .right-cards .card:nth-of-type(6) .icon {
  background-color: #c2951a;
}

.bottom .right-cards .card:nth-of-type(2) .icon {
  background-color: #fe1491;
}

.bottom .right-cards .card:nth-of-type(2n + 3) .icon {
  background-color: #241cad;
}

.bottom .right-cards .card:nth-of-type(5) .icon {
  background-color: #0f8336;
}

.bottom .right-cards .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 5rem;
  border-radius: 50%;
  margin-right: 1.4rem;
}

.bottom .right-cards .icon svg path {
  fill: #fff;
}

.bottom .right-cards .desc h2 {
  font-size: 3rem;
  padding: 1rem 0;
}

.bottom .right-cards .desc li {
  list-style: disc;
  line-height: 2.5;
}
/*# sourceMappingURL=style.css.map */